body{
  background: #ffffff;
}

.App{
  margin: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

.list{
  list-style: none;
}

.list-item{
  padding: 1em;
  display: flex;
  flex: 1;
  align-items: center;
  border: 0.25em solid #cacaca;
  margin-bottom: 1em;
}

.list-item-image-container{
  flex: 1;
}

.list-item-image-container > img{
  height: 4em;
}

.list-item-power{
  font-weight: bolder;
  color: #ff0000;
}
